*{
    padding: 0%;
    margin: 0%;
}

body{
    color: white;
    margin: 0px 100px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 1920px;
    background-color: rgb(66, 90, 18);
}

main{
    color: white;
    border-radius: 10px;
    background-color: rgb(47, 65, 13);
}